.container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-around;
  align-items: flex-start;
  border: 1px solid #fff;
  height: 300px;
  width: 500px;
}

.container div:nth-child(2) {
  /* DEFAULT oF 0 */
  order: -1;
}

.container div:nth-child(5) {
  order: 1;
}

.container div:nth-child(3) {
  order: 5;
}
