.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* align-items: stretch; */ /* DEFAULT */
  align-items: flex-start;
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: baseline; */
  border: 1px solid #fff;
  height: 200px;
}

.container div:nth-child(2) {
  font-size: 40px;
}
